<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Omkar Pradhan</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-menu #menu="matMenu">
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="/">Profile</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="meow">Education</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="/">Skills and Interests</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="/">Academic Projects</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="/">Certificates</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="/">Contact Me</button>
  </mat-menu>

  <mat-toolbar-row style="display: flex; justify-content:space-between;">
    <button mat-stroked-button  [style.cursor]="'pointer'" routerLink="/">Profile</button>
    <button mat-stroked-button  [style.cursor]="'pointer'" routerLink="meow">Education</button>
    <button mat-stroked-button  [style.cursor]="'pointer'" routerLink="/">Skills and Interests</button>
    <button mat-stroked-button  [style.cursor]="'pointer'" routerLink="/">Academic Projects</button>
    <button mat-stroked-button  [style.cursor]="'pointer'" routerLink="/">Certificates</button>
    <button mat-stroked-button  [style.cursor]="'pointer'" routerLink="/">Contact Me</button>
  </mat-toolbar-row>
</mat-toolbar>
