<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Omkar Pradhan</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-menu #menu="matMenu">
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="profile">Profile</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="education">Education</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="skils_interest">Skills and Interests</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="projects">Academic Projects</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="certificates">Certificates</button>
    <button mat-menu-item  [style.cursor]="'pointer'" routerLink="contactme">Contact Me</button>
  </mat-menu>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs animationDuration="2000ms" dynamicHeight color="accent" backgroundColor="primary" (selectedTabChange)="onTabChanged($event)">
  <mat-tab  label="Profile" [style.cursor]="'pointer'" ></mat-tab>
  <mat-tab  label="Education" [style.cursor]="'pointer'" ></mat-tab>
  <mat-tab  label="Skills and Interests" [style.cursor]="'pointer'" > </mat-tab>
  <mat-tab  label="Academic Projects" [style.cursor]="'pointer'" > </mat-tab>
  <mat-tab  label="Certificates" [style.cursor]="'pointer'" ></mat-tab>
  <mat-tab  label="Contact Me" [style.cursor]="'pointer'" > </mat-tab>
</mat-tab-group>
